#########
# DATES #
#########

snippet datetime1 "Mon, 26-oct-2016" w
`!v strftime("%a, %d-%b-%Y")`
endsnippet

snippet datetime2 "Oct 26, 2016" w
`!v strftime("%b %d, %Y")`
endsnippet

snippet datetime3 "2016-10-16 17:30" w
`!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet datetime4 "Mon 05:30pm, 26-oct-2016" w
`!v strftime("%a %I:%M%p, %d-%b-%Y")`
endsnippet

