snippet class "Define a class in javascript" !b
function ${1:TheClassName}(${2:args}) {
	var self = this;
	var function privateMethod() {

	},
	var function publicMethod() {

	},
	self.publicMethod = publicMethod;
	return self;
}

endsnippet
