snippet "\<(\w+)\>" "tag completion" wr
<${1:`!p snip.rv=match.group(1)`}>${0:${VISUAL}}</${1/([^\s]+).*/$1/g}>
endsnippet

snippet "\b(\w+)\s*=" "attribute completion" wr
${1:`!p snip.rv=match.group(1)`}="${2:value}"
endsnippet
